$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-regular-webfont.eot');
  src: url('../fonts/neosansstd-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-regular-webfont.woff') format('woff'), url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'), url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-medium-webfont.eot');
  src: url('../fonts/neosansstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-medium-webfont.woff') format('woff'), url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'), url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}

@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

@mixin left {float: left !important;}
@mixin right {float: right !important;}

@mixin radius($radius:0) {border-radius: $radius;}

.left {@include left;}
.right {@include right;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;

// Basic
$primary: #2298b4;
$secondary: #f88325;
$tooltip: #aed477;
$ribbon: #838383;
$light: #ebebec;
$asset: #f54363;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

/* Base reset of bootstrap */
body, h1, h2, h3, h4, h5, h5 {
    @include bold;
    @include neo;
}

/* Space out content a bit */
body {
  @include normal;
  padding: 2em 0;
  background: url(../images/bg.jpg);
  background-size: cover;
  // font-size: 14px;
  // background-repeat: no-repeat;
  a {
    color: $primary;
    &:hover {color: darken($primary, 10%);}
  }
}

.container {min-width: 320px;}

/* Button logic */
@mixin button-base($padding: 0.65em 1em, $radius: 0) {
  padding: $padding;
  border-radius: $radius;
}

@mixin button($bg-colog: $ribbon, $color: $white, $font-size: 14px) {
  background-color: $bg-colog;
  color: $color;
  font-size: $font-size;
  &:hover {
    color: $color;
    background-color: darken($bg-colog, 10%);
  }
}

.btn {
  @include button-base;
  @include button;
}

/* Custom page header */
#header {
  .top-lvl {
    height: 55px;
  }
  #logo {
    background-color: $black;
    width: 100px;
    position: absolute;
    padding: 1.5em 1em;
  }
  .btn-vtr {
    @include button(darken($ribbon, 15%), $font-size: 13px);
    margin-bottom: 15px;
  }
}

#ribbon {
  background-color: $ribbon;
  height: 35px;
  a {
    color: $white;
    padding: 0.5em 1em;
    &:hover {
      background-color: darken($ribbon, 10%);
      text-decoration: none;
    }
  }
}

/* Custom page content */
#content {
  background: $white;
  padding-bottom: 0.5em;
  // z-index: -2;
  // position: relative;
  .second-lvl {
    @include normal;
    margin-left: 120px;
    margin-top: 25px;
  }
  .plan-info {
    margin: 0 2em;
  }
}

.intro-login {
  text-align: center;
  padding: 3em 0 2em;
  h3 {
    color: $primary;
    margin-bottom: 1em;
    font-size: 25px;
  }
  h4 {
    @include normal;
    line-height: 1.4;
    font-size: 16px;
  }
}

/* Status and alert of the page */
.status {
  margin: 2em 0;
  background-color: $light;
  display: flex;
  .icon {
    background-color: $asset;
    width: 40px;
    padding-top: 30px;
    margin: 0 auto;
    .glyphicon {
      color: $white;
      font-size: 16px;
      margin-left: 11px;
      // margin-top: -30%;
    }
  }
  .list {
    width: 97%;
    ul {
      padding: 20px;
      margin-bottom: 0;
      li {
        color: darken($ribbon, 10%);
        text-indent: -1em;
        margin-left: .75em;
        &:before {
          content: "• ";
          color: $asset;
          padding-right: 0.5em;
        }
        a {
          color: $asset;
          text-decoration: underline;
        }
      }
    }
  }
}

/* #Plan-status */
#plan-status, #bag-list {
  margin: 0 2em;
  .box {
    border: 1px solid $ccc;
    padding: 0.5em 1em;
    margin-bottom: 2em;
  }
  h4 {
    margin-bottom: 1.5em;
  }
  ul li {
    margin-bottom: 10px;
  }
  .panel {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 94%;
    margin: 0 3%;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    .panel-body {
      font-size: 12px;
      padding: 10px;
      background-color: #e5e5e5;
    }
  }
}

#plan-status .box {
  min-height: 440px;
  position: relative;
  background: linear-gradient(to bottom, rgba($ccc, .5) 1%, rgba($white, 1) 5%);
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 12px;
    right: 5px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: $white;
    box-shadow: 0 15px 10px rgba($black, .25);
    transform: rotate(3deg);
  }
  h4 {
    margin-left: 15px;
  }
  .dot {
    position: absolute;
    left: 10px;
    height: 10px;
    width: 10px;
    margin-top: 3px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #fea905, #ff7005);
    background-color: #fea905;
  }
  .number {
    font-size: 18px;
    margin-top: -5px;
  }
  .calc-result p{
    margin: 0;
    line-height: 1;
    font-size: 16px;
    span {color: lighten($black, 50%)}
    small {font-size: 12px;}
  }
  .legend {
    font-size: 12px;
    color: lighten($black, 50%);
  }
}

#bag-list .box {
  .bag {
    margin-bottom: 10px;
    img {margin: 0 auto;}
  }
  h3 {
    text-align: right;
  }
  .legend {
    text-align: center;
    font-size: 12px;
    margin-bottom: 1em;
  }
}

.bar-progress {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
  .overflow {
    border-radius: 2px;
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    display: block;
    background-size: 1000px;
    transition: all 0.5s cubic-bezier(0.59,-0.02, 0.35, 0.97);
  }
  .progress-bar-base {
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: rgba($black, 0.1);
  }
  .overflow.gradient {
    background-image: linear-gradient(to right, rgba(#02b89c, 1) 35%,rgba(#fb9701, 1) 75%, rgba(#ff534e, 1) 100%);
  }
  .overflow.blue {
    background-color: #6dcff5;
  }
}

/* Modal windows */
.modal-content {
  @include radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.modal-body {
  padding: 20px;
  h4 {margin: 10px 0 30px;}
  .close-window {
    margin: 0;
    text-align: right;
    cursor: pointer;
    span {padding: 10px;}
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
  .moth {
    margin-bottom: 20px;
    .row {margin-bottom: 15px;}
    h5 {
      background-color: $light;
      color: darken($ribbon, 20%);
      padding: 10px 15px;
    }
    p {
      margin: 0 15px;
      span {color: $primary;}
    }
    .title {
      @include bold;
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
}


/* Media queries */
@media (min-width: $screen-xs-min) {
   /* rules for mobile horizontal (480 > 768)  */
}
@media (min-width: $screen-sm-min) {
   /* rules for tablet (768 > 992) */
}
@media (min-width: $screen-md-min) {
   /* rules for desktop (992 > 1200) */
}
@media (min-width: $screen-lg-min) {
   /* rules for large (> 1200) */
}

