$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-regular-webfont.eot');
  src: url('../fonts/neosansstd-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-regular-webfont.woff') format('woff'), url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'), url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-medium-webfont.eot');
  src: url('../fonts/neosansstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-medium-webfont.woff') format('woff'), url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'), url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}

@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

@mixin left {float: left !important;}
@mixin right {float: right !important;}

@mixin radius($radius:0) {border-radius: $radius;}

.left {@include left;}
.right {@include right;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;

// Basic
$primary: #2298b4;
$secondary: #66acb3;
$tooltip: #aed477;
$ribbon: #838383;
$light: #ebebec;
$asset: #f54363;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

/* Base reset of bootstrap */
body, h1, h2, h3, h4, h5, h5 {
    @include bold;
    @include neo;
}

/* Space out content a bit */
body {
  @include normal;
  padding: 3em 0;
  background: url(../images/bg.jpg);
  background-size: cover;
  // background-repeat: no-repeat;
}

/* Button logic */
@mixin button-base($padding: 0.65em 1em, $radius: 0) {
  padding: $padding;
  border-radius: $radius;
}

@mixin button($bg-colog: $ribbon, $color: $white, $font-size: 14px) {
  background-color: $bg-colog;
  color: $color;
  font-size: $font-size;
  &:hover {
    color: $color;
    background-color: darken($bg-colog, 10%);
  }
}

.btn {
  @include button-base;
  @include button;
}

/* Custom page header */
#header {
  #logo {
    background-color: $black;
    width: 100px;
    position: absolute;
    padding: 1.5em 1em;
  }
  .btn-vtr {
    @include button(darken($ribbon, 15%), $font-size: 13px);
    margin-bottom: 15px;
  }
}

#ribbon {
  background-color: $ribbon;
  a {
    color: $white;
    padding: 0.5em 1em;
    &:hover {
      background-color: darken($ribbon, 10%);
      text-decoration: none;
    }
  }
}

/* Custom page content */
#content {
  background: $white;
  padding-bottom: 0.5em;
  .second-lvl {
    @include normal;
    margin-left: 120px;
    margin-top: 25px;
  }
}

/* Status and alert of the page */
.status {
  // border: 1px solid $ccc;
  background-color: $light;
  min-height: 100px;
  margin: 0 1em;
  .icon {
    background-color: $asset;
    height: 100px;
    width: 40px;
    .glyphicon {
      color: $white;
      font-size: 16px;
      margin-left: 11px;
      margin-top: 42px;
    }
  }
  .list {
    position: absolute;
    left: 100px;
    top: 0;
    ul {
      margin: 25px 50px 0 0;
      padding: 0;
      li {
        color: darken($ribbon, 10%);
      }
    }
  }
}

#box {
  border: 1px solid $ccc;
  margin: 1em 1em 0.5em;
  padding: 1em 1em 0.5em;
  .header {
    padding: 0.25em;
    h3 {
      margin: 5px 0 0;
      color: $primary;
    }
    p {
      text-align: right;
      font-size: 13px;
      span {color: $primary;}
    }
  }
}

/* Panels of the dashboard */
.panel {
  @include radius;
  box-shadow: 0 1px 0 $light;
}

.panel-default {
  .panel-heading {
    color: darken($ribbon, 10%);
    font-size: 14px;
  }
  .panel-body {
    color: lighten($black, 25%);
    h4 {
      color: $black;
      font-size: 16px;
      margin-bottom: 15px;
    }
    .legend span, .list-unstyled span {
      color: $primary;
    }
  }
}

.alert-box {
  min-height: 360px;
  .panel-heading {
  background-color: $asset;
  color: $white;
  }
}

/* Form style for a panel */
#form-login, #form-bag {
  animation-duration: 0.5s;
  animation-delay: 0;
  /* select bag */
  .checkbox {
    font-size: 14px;
    margin-bottom: 0;
    label {color: $primary;}
    span {
      @include bold;
      color: $black;
    }
  }
  .legend {
    margin-bottom: 15px;
    margin-left: 20px,
  }
  /* login */
  .primary {
    color: $asset;
  }
  .form-control {background-color: $light;}
  .help-block {
    font-size: 13px;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: $ribbon;
      &:hover {color: $primary}
    }
  }
  .btn-go{@include button($asset, $white);}
  .back-form {
    @extend .help-block;
    position: relative;
    bottom: -15px;
    font-size: 15px,
  }
}

#form-bag .btn-go {
  position: absolute;
  bottom: 40px;
  right: 35px;
}

/* Tooltip */
.tooltip.top {
  .tooltip-inner {
    color: $primary;
    background-color: $white;
    max-width: 300px;
    padding: 15px;
    text-align: left;
    font-size: 13px;
    border: 3px solid $primary;
    strong {
      font-size: 15px;
    }
  }
  .tooltip-arrow {
    border-top-color: $primary;
    margin-left: -10px;
    border-width: 10px 10px 0;
    bottom: -5px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }
  .status {margin-top: 1em}
}
